<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToDo App dashboard</title>
    <link href="materialize/css/materialize.css" rel="stylesheet" type="text/css">
    <link href="css/dashboard.css" rel="stylesheet" type="text/css">
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <!-- delete me and start working :) -->
        </div>
    </nav>
    <main>
        <div class="row main-row">
            <div class="col m1 blank hide-on-small-only"></div>
            <div class="col s12 m3">
                <div class="leftbar-wrapper">
                    <!-- delete me and start working :) -->
                </div>
            </div>
            <div class="col s12 m7">
                <div class="rightbar-wrapper">
                    <!-- delete me and start working :) -->
                </div>
            </div>
            <div class="col m1 blank hide-on-small-only"></div>
        </div>
    </main>
    <script src="materialize/js/materialize.js"></script>
    <script src="js/dashboard.js"></script>
</body>
</html>