<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToDo App dashboard</title>
    <link href="materialize/css/materialize.css" rel="stylesheet" type="text/css">
    <link href="css/dashboard.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <!-- delete me and start working :) -->
        </div>
    </nav>
    <main>
        <div class="row main-row">
            <div class="col m1 blank hide-on-small-only"></div>
            <div class="col s12 m3">
                <div class="leftbar-wrapper">
                    <!-- delete me and start working :) -->
                </div>
            </div>
            <div class="col s12 m7">
                <div class="rightbar-wrapper">
                    <div class="container">
                        <div id="main" class="card card-body">
                            <div class=title>
                                <h4>Today<h6 class="data">Tue Dec 5</h6></h4>
                            </div>
                            <ul id="items" class="list-group">
                                <li class="list-group-item">30 minutes of cardio<button
                                        class="delete">X</button></li>
                                <li class="list-group-item">Confirm visit with Klara<button
                                        class="delete">X</button></li>
                            </ul>
                            <form id="addForm" class="form-inline mb-3">
                                <input type="submit" class="sub" value="+">
                                <input type="text" class="form-control mr-2" id="item" placeholder="Add Task"> 
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col m1 blank hide-on-small-only"></div>
        </div>
    </main>
    <script src="materialize/js/materialize.js"></script>
    <script src="js/dashboard.js"></script>
</body>
</html>