<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToDo App login</title>
    <link href="materialize/css/materialize.css" rel="stylesheet" type="text/css">
    <link href="css/login.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body class="grey lighten-2">
    <main>
        <div class="container white">
            <div class="row">
                <a href=#>
                    <div class="col s12 logo-name">
                        <i class="fas fa-tasks"></i>
                        <p>todoist</p>
                    </div>
                </a>
            </div>
            <div class="row">
                <div class="col s12 social-login">
                  <div class="icons icons-hidden">
                      <i class="fas fa-envelope fa-1x"></i>
                      <i class="fas fa-lock fa-1x"></i>
                  </div>
                  <div class="all_buttons">
                    <div class="google_login_button">
                      <a class="ist_button ist_button_google" href="#" target="_self">
                        <img src="https://d3ptyyxy2at9ui.cloudfront.net/google-41de20.svg" width="16" height="16">
                        Log in with Google Account
                      </a>
                    </div>

                    <div class="facebook_login_button">
                      <script></script>
                      <a class="ist_button ist_button_facebook" href="#" target="_self">
                        <img src="https://d3ptyyxy2at9ui.cloudfront.net/facebook-fadd25.svg" width="16" height="16">
                        Log in with Facebook Account
                      </a>
                    </div>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 separator">
                    <div class="sep-line">
                        <div class="divider"></div>
                    </div>
                    <div class="sep-or">
                        <p class="grey-text text-lighten-2">OR</p>
                    </div>
                    <div class="sep-line">
                        <div class="divider"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 inputs-login">
                    <div class="icons">
                        <i class="fas fa-envelope fa-1x"></i>
                        <i class="fas fa-lock fa-1x"></i>
                    </div>
                    <form>
                        <input type="email" name="mail" placeholder="  Email">
                        <input type="password" name="psw" placeholder="  Password">
                        <input type="submit" name="sub" value="Log in">
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col s12 paragraphs">
                    delete me and start working :)
                </div>
            </div>
        </div>
    </main>
    <script src="materialize/js/materialize.js"></script>
    <script src="js/login.js"></script>
</body>
</html>
