<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToDoApp login</title>
    <link href="materialize/css/materialize.css" rel="stylesheet" type="text/css">
    <link href="css/login.css" rel="stylesheet" type="text/css">
</head>
<body class="grey lighten-2">
    <main>
        <div class="container white">
            <div class="row">
                <div class="col s12 logo-name">
                    delete me and start working :)
                </div>
            </div>
            <div class="row">
                <div class="col s12 social-login">
                    delete me and start working :)
                </div>
            </div>
            <div class="row">
                <div class="col s12 separator">
                    <div class="sep-line">
                        <div class="divider"></div>
                    </div>
                    <div class="sep-or">
                        <p class="grey-text text-lighten-2">OR</p>
                    </div>
                    <div class="sep-line">
                        <div class="divider"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 inputs-login">
                    delete me and start working :)
                </div>
            </div>
            <div class="row">
                <div class="col s12 paragraphs">
                    delete me and start working :)
                </div>
            </div>
        </div>
    </main>
    <script src="materialize/js/materialize.js"></script>
    <script src="js/login.js"></script>
</body>
</html>