html {
    height: 100%;
}

body {
    min-height: 100%;
}

.main-row {
    min-height: calc(100vh - 64px);
    margin-bottom: 0px;
}

.main-row > .col {
    min-height: calc(100vh - 64px);
}

.leftbar-wrapper {
    min-width: 100%;
    min-height: calc(100vh - 64px);
}

.rightbar-wrapper {
    min-width: 100%;
    min-height: calc(100vh - 64px);
}

@media only screen and (max-width: 600px) {

    .main-row > .col {
        min-height: 0px;
    }

    .leftbar-wrapper {
        min-height: 0px;
    }

    .rightbar-wrapper {
        min-height: 0px;
    }
}